==
<!-- Nav -->
<div class="uk-container uk-container-expand uk-navbar-container" style="background: rgba(19,11,28,1)!important;">
    <nav class="uk-navbar-container">
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a href="https://ppia-rmit.com" style="min-height:40px;">&laquo; Back to PPIA RMIT website</a></li>
            </ul>
        </div>
    </nav>
</div>
<div id="navContainer" uk-sticky="media: 960" class="uk-navbar-container tm-navbar-container uk-sticky" style="border-bottom:solid 1px #e6e6e6">
    <div class="uk-container uk-container-expand uk-navbar-container">
        <nav class="uk-navbar-container uk-margin uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <a href="{{ 'indonation'|page }}" class="uk-navbar-item uk-logo" data-bcup-haslogintext="no">
                    <img src="{{ "assets/images/po_assets/logo.svg"|theme }}" class="uk-margin-small-right" style="height:60px;width:auto;">
                </a>
                <ul class="uk-navbar-nav uk-visible@s">
                    {% partial 'site/navbarLinks' %}
                </ul>
            </div>
        
            <div class="uk-navbar-right">
                <div class="uk-visible@s">
                   <a href="https://www.gofundme.com/shelter-for-rumah-faye-indonesia" target="_blank">
                        <button class="uk-button uk-button-large uk-button-primary">Donate Now!</button>
                    </a>
                </div>
                <div class="uk-hidden@s">
                   <button class="uk-navbar-toggle" uk-navbar-toggle-icon type="button" uk-toggle="target: #mobileNav"></button>
                </div>
            </div>
        </nav>
    </div>
    
    <div id="mobileNav" uk-offcanvas="flip: true; overlay: true" class="uk-offcanvas">
        <div class="uk-offcanvas-bar uk-width-1-1">
    
            <button class="uk-offcanvas-close" type="button" uk-close></button>
    
            <p>
                <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                    {% partial 'site/navbarLinks' %}
                </ul>
            </p>
    
        </div>
    </div>
</div>