[MemberBenefitComponent]
==
<div class="uk-child-width-1-4@m uk-child-width-1-2@s uk-grid-collapse uk-text-center uk-background-muted" uk-grid>
    {% for benefit in MemberBenefitComponent.getBenefit() %}
        <div>
            <div class="uk-tile uk-tile-default" style="height:100%;">
                {% if benefit['brand_logo'] is not same as(null) %}
                    <img class="lazy" data-src="{{ benefit['brand_logo'] }}" alt="{{ benefit['brand_name'] }} logo" style="height:120px; width: auto;" />
                {% endif %}
                <p class="uk-h4">{{ benefit['brand_name'] }}</p>
                <div class="uk-text-justify description">
                    <p class="uk-h4 uk-margin-medium-bottom">{{ html_clean(benefit['benefit_description']) }}</p>
                    
                    {% if benefit['brand_address'] is not same as(null) %}
                        <div class="uk-margin-small-top uk-text-meta">
                            {{ benefit['brand_address'] }}
                        </div>
                    {% endif %}
                    
                    {% if benefit['brand_phone'] is not same as(null) %}
                        <div class="uk-margin-small-top uk-text-meta">
                            {{ benefit['brand_phone'] }}
                        </div>
                    {% endif %}
                    
                    {% if benefit['brand_website'] is not same as(null) %}
                        <div class="uk-margin-small-top uk-text-small">
                            <a href="{{ benefit['brand_website'] }}">{{ benefit['brand_website'] }}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>