[gtmCode]
container_id = "GTM-W3BV2G4"
==
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Indonation - {{ this.page.title }}</title>
  <meta name="description" content="{{ this.page.meta_description }}">
  <meta name="title" {% component 'SeoCmsPage' %}content="{{ this.page.meta_title }}">
  <meta name="author" content="PPIA RMIT, Stanislaus Krisna">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.png'|theme }}">
  <link href="{{ 'assets/vendor/UIKit/uikit.min.css'|theme }}" rel="stylesheet">
  <link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet">
  {% styles %}
  {% component 'gtmCode' %}
</head>

<body>