description = "Default layout without padding"
==
{% partial 'head' %}

<!-- Header -->
<header id="layout-header">
    {% partial 'site/header' %}
</header>

<!-- Content -->
<section id="layout-content" class="">
    {% page %}
</section>

<!-- Footer -->
<footer id="layout-footer">
    {% partial 'site/footer' %}
</footer>

{% partial 'tail' %}