description = "Default layout"
==
{% partial 'head' %}

<!-- Header -->
<header id="layout-header">
    {% partial 'site/header' %}
</header>

<!-- Content -->
<section id="layout-content" class="uk-container uk-margin-large-top uk-margin-large-bottom">
    {% page %}
</section>

<!-- Footer -->
<footer id="layout-footer">
    {% partial 'site/footer' %}
</footer>

{% partial 'tail' %}