title = "Internal Events"
url = "/internal-events"
layout = "default"
description = "Page for internal events"
meta_title = "PPIA RMIT Internal Events"
meta_description = "Events by PPIA RMIT for RMIT students"
is_hidden = 0

[InternalEventComponent]
==
<?php
function onStart()
{
    $this->addJs('assets/javascript/InternalEventScript.js');
}
?>
==
<div class="event-container uk-child-width-1-2@m uk-flex-center uk-margin-large-top uk-grid-large" uk-grid>
    {% for event in InternalEventComponent.getInternalEvents() %}
    <div class="event-card">
        <div class="uk-card uk-card-default expand-trigger">
            {% if event['event_cover'] != null %}
            <div class="uk-card-media-top" style="background-image:url({{ event['event_cover'] }});height:200px;background-position: center;background-size: cover;background-repeat: no-repeat;"></div>
            {% else %}
            <div class="uk-card-media-top" style="height:200px;"></div>
            {% endif %}
            <div class="uk-card-body">
                <h3 class="uk-card-title">{{ event['event_name'] }}</h3>
            </div>
        </div>
        
        <div class="og-expander uk-background-muted">
    		<div class="og-expander-inner">
    			<span class="og-close"></span>
    			<div class="uk-child-width-1-1 uk-child-width-1-2@m uk-flex-center uk-margin-large-top" uk-grid>
    			    {% if event['event_cover'] != null %}
    			    <div class='uk-visible@m'>
                        <div class="uk-card uk-card-default uk-card-body" style="background-image:url({{ event['event_cover'] }});background-position: center;background-size: cover;background-repeat: no-repeat;">
                            {% if event['event_cover'] != null %}
                            <div class="uk-card-media-top" style="height:200px;"></div>
                            {% endif %}
                        </div>
                     </div>
                     {% endif %}
                     
                     <div>
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3>{{ event['event_name'] }}</h3>
    				        <div>{{ html_clean(event['event_description']) }}</div>
                        </div>
                     </div>
    			</div>
    			
    			<div class="og-fullimg">
    				<div class="og-loading"></div>
    				
    			</div>
    		</div>
    	</div>
    </div>
    {% endfor %}
</div>

<style>
.event-card:after{display:block;content:' ';height:0;transition:height .5s ease-in-out}.event-card.expanded:after{display:block;content:' ';height:500px;transition:height .5s ease-in-out}.event-card.expanded>.uk-card:after{top:auto;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-bottom-color:#f8f8f8;border-width:15px;left:50%;margin:-10px 0 0 -15px}.event-card.expanded .og-expander{height:500px;transition:height .5s ease-in-out}.og-expander{position:absolute;top:auto;left:0;width:100%;margin-top:20px;text-align:left;height:0;overflow:hidden;transition:height .5s ease-in-out}.og-expander-inner{padding:50px 30px;height:100%}.og-close{position:absolute;width:40px;height:40px;top:20px;right:20px;cursor:pointer}.og-close::after,.og-close::before{content:'';position:absolute;width:100%;top:50%;height:1px;background:#888;transform:rotate(45deg)}.og-close::after{transform:rotate(-45deg)}.og-close:hover::after,.og-close:hover::before{background:#333}
</style>