title = "Membership"
url = "/membership"
layout = "default-noPadding"
description = "Page for membership"
meta_title = "PPIA RMIT Member benefit"
meta_description = "The benefit of joining PPIA RMIT"
is_hidden = 0
==
<section class="uk-container uk-margin-large-top uk-margin-large-bottom">
    <div class="uk-cover-container uk-height-large">
        <img class="lazy" data-src="{{ 'assets/images/registration_cover.jpg'|theme }}" alt="Membership cover image" uk-cover class="uk-background-blend-darken">
    </div>    
</section>

<div class="uk-container">
    <div class="uk-grid-collapse uk-text-center uk-flex-center" uk-grid>
        <div class="uk-card uk-card uk-card-body uk-width-1-2@m uk-text-center">
            <h3 class="uk-card-title">Enjoy exclusive members only benefits</h3>
            <p>Members got to enjoy exclusive benefits by using the PPIA RMIT card. The PPIA RMIT membership Program includes privileges ranging from exciting culinary offers to special airline discount.</p>
            <div class="uk-margin-large-top">
            <a href="{{ 'register-member'|page }}"><button class="uk-button uk-button-primary uk-button-large">Register Now!</button></a>
        </div>
        </div>
    </div>
</div>

{% partial 'site/memberBenefits' %}

<style>
.description ul *{
    text-align: left;
}

.description ul li {
    padding: 10px 0 10px 0;
}
</style>