title = "Who Are We?"
url = "/who-are-we"
layout = "default"
meta_title = "About PPIA RMIT"
meta_description = "About our organisation"
is_hidden = 0
==
<div class="uk-container uk-container-xsmall">
    <article class="uk-container uk-container-xsmall uk-article">
        <h1 class="uk-article-title uk-text-lead">Who are we?</h1>
        <br>
            <center>
                <img src="{{ 'assets/images/logo.png'|theme }}" width="550px" />
            </center>
        <br>
        <p>PPIA RMIT is a non-profit student organization. It is a platform for Indonesian students at RMIT University to gather and meet other students within the university as well as other universities. We hold several events throughout the year as a way for students to bond such as <a href="{{ 'indonation'|page }}">Indonation</a> and <a href="{{ 'societal-project'|page }}">Societal Project</a></p>
    </article>
</div>