[PublicEventComponent]
timezone = 312
dateTimeFormat = "F j, Y \a\t H:i A"
==
{% set events = PublicEventComponent.getPublicEvents() %}
{% if events['headline']|length > 0 or events['other']|length > 0 %}
    <div class="uk-margin-top">
        {% for event in events['headline'] %}
        {% if event['event_cover'] == null %}
            <div class="uk-container uk-container-large uk-background-muted uk-padding">
        {% else %}
            <div class="uk-container uk-container-large uk-background-muted uk-padding" style="background-image:url({{ event['event_cover'] }});background-position: center;background-size: cover;background-repeat: no-repeat;">
        {% endif %}
            <div class="uk-height-large" style="position: relative;">
                <article class="uk-text-center" style="position: absolute;top: 50%;transform: translateY(-50%);width:100%;">
                    <h2 class="uk-text-capitalize" style="font-weight:500;color:{{ event['text_color'] == null ? '#333' : event['text_color'] }};">
                        {{ event['event_name'] }}
                    </h2>
                    <h3 style="margin:0;color:{{ event['text_color'] == null ? '#333' : event['text_color'] }};">
                        {{ event['short_description'] }}
                    </h3>
                    <h4 style="margin:0;color:{{ event['text_color'] == null ? '#333' : event['text_color'] }};">
                        {{ event['event_date'] }}
                    </h4>
                    {% if event['learn_more_label'] != null and event['learn_more_link'] != null %}
                        <h4 style="margin-bottom: 0;">
                            {% if event['learn_more_color'] == null %}
                            <a href="{{ event['learn_more_link'] }}">{{ event['learn_more_label'] }}</a>
                            {% else %}
                            <a style="color:{{ event['learn_more_color'] }}!important" href="{{ event['learn_more_link'] }}">{{ event['learn_more_label'] }}</a>
                            {% endif %}
                        </h4>
                    {% endif %}
                </article>
            </div>
        </div>
        {% endfor %}
        <div class="uk-grid uk-child-width-1-2@m">
        {% for event in events['other'] %}
            {% if event['event_cover'] == null %}
            <div class="uk-background-muted">
            {% else %}
            <div class="uk-background-muted" style="background-image:url({{ event['event_cover'] }});background-position: center;background-size: cover;background-repeat: no-repeat;">
            {% endif %}
            
                <div class="uk-height-medium" style="position: relative;">
                    <article class="uk-text-center" style="position: absolute;top: 50%;transform: translateY(-50%);width:100%;">
                        <h2 class="uk-text-capitalize" style="font-weight:500;color:{{ event['text_color'] == null ? '#333' : event['text_color'] }};">
                            {{ event['event_name'] }}
                        </h2>
                        <h3 style="margin:0;color:{{ event['text_color'] == null ? '#333' : event['text_color'] }};">
                            {{ event['short_description'] }}
                        </h3>
                        <h4 style="margin:0;color:{{ event['text_color'] == null ? '#333' : event['text_color'] }};">
                            {{ event['event_date'] }}
                        </h4>
                        {% if event['learn_more_label'] != null and event['learn_more_link'] != null %}
                        <h4 style="margin-bottom: 0;">
                            {% if event['learn_more_color'] == null %}
                            <a href="{{ event['learn_more_link'] }}">{{ event['learn_more_label'] }}</a>
                            {% else %}
                            <a style="color:{{ event['learn_more_color'] }}!important" href="{{ event['learn_more_link'] }}">{{ event['learn_more_label'] }}</a>
                            {% endif %}
                        </h4>
                        {% endif %}
                    </article>
                </div>
            </div>
        {% endfor %}
        {% if events['other']|length % 2 == 1 %}
            <div class="">
                {% partial 'event/socialLink' %}
            </div>
        {% endif %}
        </div>
    </div>
    {% if events['other']|length % 2 == 0 %}
        <div class="uk-height-medium">
            {% partial 'event/socialLink' %}
        </div>
    {% endif %}
{% else %}
    {% partial 'event/noEvent' %}
{% endif %}