==
<li class="{% if this.page.id == 'about' %}uk-active{% endif %}"><a href="{{ 'about'|page }}">About</a></li>
<li class="{% if this.page.id == 'venue' %}uk-active{% endif %}"><a href="{{ 'venue'|page }}">Venue</a></li>
<li class="{% if this.page.id == 'gallery' %}uk-active{% endif %}"><a href="{{ 'gallery'|page }}">Gallery</a></li>
<li class="{% if this.page.id == 'buy-ticket' %}uk-active{% endif %}"><a href="{{ 'buy-ticket'|page }}">Buy Ticket</a></li>