[googleTracker]
==
<style>#layout-header{background:rgba(19,11,28,1)}#instantclick-bar{background:#e1c57b}#sp-container{background:#130b1c;background:-moz-linear-gradient(45deg,#130b1c 0,#593a3c 100%);background:-webkit-linear-gradient(45deg,#130b1c 0,#593a3c 100%);background:linear-gradient(45deg,#130b1c 0,#593a3c 100%)}#sp-container:after{content:' ';display:block;height:150px;width:100%;position:absolute;bottom:-10px;background:#130b1c;background:-moz-linear-gradient(0deg,rgba(19,11,28,1) 0,rgba(19,11,28,0) 100%);background:-webkit-linear-gradient(0deg,rgba(19,11,28,1) 0,rgba(19,11,28,0) 100%);background:linear-gradient(0deg,rgba(19,11,28,1) 0,rgba(19,11,28,0) 100%)}#layout-content,body{background:#130b1c}#layout-footer{background:#fff}.uk-form-label,p{color:#ccc}.uk-card-title,button,h1{color:#fff!important}#navContainer{-webkit-backdrop-filter:saturate(180%) blur(10px);backdrop-filter:saturate(180%) blur(10px);background:rgba(19,11,28,.9)!important;border-bottom:solid 1px #2d1a42!important}.uk-form-controls>div,.uk-legend,.uk-navbar-nav>li>a{color:#fff}.uk-navbar-nav>li.uk-active>a{color:#999}.uk-navbar-container{background:0 0!important}</style>
<!-- Scripts -->
        <script src="{{ 'assets/vendor/lazyload.min.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/instantclick.min.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/UIKit/uikit.min.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
        {% component 'googleTracker' %}
        {% framework extras %}
        {% scripts %}

        <script data-no-instant>
            var myLazyLoad = new LazyLoad({
              elements_selector: ".lazy"
            });
            InstantClick.on('change', function(url, body, title) {
                console.log('updated')
                if (myLazyLoad) {
                    myLazyLoad.update();
                }
            })
            InstantClick.on('receive', function(url, body, title) {
                return {
                  body: body,
                  title: title
                };
            });
            
            InstantClick.init();
        </script>
    </body>
</html>