title = "Gallery"
url = "/gallery"
layout = "default"
is_hidden = 0
==
<?php
function onStart()
{   
    $this['code'] = new class {
        public function concatFileName($name) {
            return 'SP_Gallery/20190511-'.$name.'.jpg';
        }
    };
}
?>
==
<div>
    <p>They say "A picture is worth a thousand words", that is why we created this gallery. Share the memories with your friends and relive the night of the event. Find a photo you like? Download it and save it for yourself.<br><br>Click any photo to view the full resolution.</p>
</div>

<div class="uk-width-1-2@m">
    <article class="uk-article">
        <h1 class="uk-article-title">Societal Project 2019 Gallery</h1>
        <hr class="uk-divider-small">
    </article>
</div>

<div class="uk-margin-large-top uk-child-width-1-2 uk-child-width-1-4@m uk-text-center" uk-grid="masonry: true">
    {% for i in 1..94 %}
    <div>
        <a href="{{ code.concatFileName(i)|media }}" target="_blank">
            <img data-src="{{ code.concatFileName(i)|media }}" class="lazy" />
        </a>
    </div>
    {% endfor %}
</div>

<div class="uk-width-1-2@m" style="margin-top:20px;">
    <article class="uk-article">
        <h1 class="uk-article-title">Societal Project 2020 Gallery</h1>
        <hr class="uk-divider-small">
            <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0" class="uk-text-large" style="font-weight: 300; color:#fff;text-shadow: #000 0px 0px 2px;"> Gallery will be avalaible once the event is finished </h2>
            <h3 uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0" style="color:white;font-weight:lighter;text-shadow: #000 0px 0px 2px;">Check back later</h3>
    </article>
</div>