title = "Home"
url = "/"
layout = "default-noPadding"
description = "Page for Societal Project"
is_hidden = 0
==
<?php
function onStart() {
    $prefix_dir = 'assets/images/thank-you/';
    $images_list = [
        $prefix_dir . '1.jpg',
        $prefix_dir . '2.jpg',
        $prefix_dir . '3.jpg',
        $prefix_dir . '4.jpg'
    ];
    
    shuffle($images_list);
    $this->page["images"] = $images_list;
    
    $this['code'] = new class {
        public function concatFileName($name) {
            return 'SP_Gallery/20190511-'.$name.'.jpg';
        }
    };
}
?>
==
<div class="uk-position-center uk-position-small uk-text-center" style="z-index:100;">
    <h1> Time until Societal Project:<br></h1>
    <div id="clockdiv">
      <div>
        <span id="days"></span>
        <div class="smalltext">Days</div>
      </div>
      <div>
        <span id="hours"></span>
        <div class="smalltext">Hours</div>
      </div>
      <div>
        <span id="minutes"></span>
        <div class="smalltext">Minutes</div>
      </div>
      <div>
        <span id="seconds"></span>
        <div class="smalltext">Seconds</div>
      </div>
    </div>
    <script>
       // Set the date we're counting down to
       var countDownDate = new Date("May 9, 2020 17:00:00").getTime();
       
       // Update the count down every 1 second
       var x = setInterval(function() {
       
         // Get today's date and time
         var now = new Date().getTime();
           
         // Find the distance between now and the count down date
         var distance = countDownDate - now;
           
         // Time calculations for months, weeks, days, hours, minutes and seconds
         var days = Math.floor(distance / (1000 * 60 * 60 * 24));
         var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
         var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
         var seconds = Math.floor((distance % (1000 * 60)) / 1000);
           
         // Output the result in an element with id="demo"
         document.getElementById("days").innerHTML= days;
         document.getElementById("hours").innerHTML= hours;
         document.getElementById("minutes").innerHTML= minutes;
         document.getElementById("seconds").innerHTML= seconds;
         // If the count down is over, write some text 
         if (distance < 0) {
           clearInterval(x);
           document.getElementById("countdown").innerHTML = "EXPIRED";
         }
       }, 1000);
   </script>
</div>
<!-- <div class="uk-cover-container" uk-height-viewport="offset-top: true">
    <div class="uk-position-center uk-position-small uk-text-center" style="z-index:100;">
        <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0" class="uk-text-large" style="font-weight: 300; color:#fff;text-shadow: #000 0px 0px 2px;">Thank you for sharing this experience with us!</h2>
        <h3 uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0" style="color:white;font-weight:lighter;text-shadow: #000 0px 0px 2px;">See you next year!</h3>
    </div>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="autoplay:true;animation: fade;ratio: false;pause-on-hover:false;">
    
        <ul class="uk-slideshow-items" uk-height-viewport>
            {% for image in this.page.images %}
            <li>
                <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                    <img data-src="{{ image|theme }}" alt="" uk-cover width="2500" height="1667" class="lazy">
                </div>
            </li>
            {% endfor %}
        </ul>
    
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    
    </div>
</div>
<div class="uk-cover-container" uk-height-viewport="offset-top: true">
    <div class="uk-position-center uk-position-small uk-text-center" style="z-index:100;">
        <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0" class="uk-text-large" style="font-weight: 300; color:#fff;text-shadow: #000 0px 0px 2px;">Missed the event night?</h2>
        <h3 uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0" style="color:white;font-weight:lighter;text-shadow: #000 0px 0px 2px;"><a href="{{ 'gallery'|page }}" style="color:#fff;">Visit the gallery and relive the night!</a></h3>
    </div>
    <div class="uk-margin-large-top uk-child-width-1-2 uk-child-width-1-4@m uk-text-center" uk-grid="masonry: true">
        {% for i in 1..12 %}
        <div>
            <img data-src="{{ code.concatFileName(i)|media }}" class="lazy" style="filter:blur(10px);" />
        </div>
        {% endfor %}
    </div>
</div> -->
<style>
h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #6d00c1;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    font-family: sans-serif;
    font-weight: 100;
    border-radius: 3px;
    background: #550a8a;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
}
</style>