title = "Thank You"
url = "/buy-ticket/success"
layout = "default"
is_hidden = 0
==
<div class="uk-container uk-flex-center" uk-grid>
  <div class="uk-flex uk-flex-column uk-width-1-1">
    <div class="uk-card uk-card-transparent uk-card-body uk-text-center">
      <h1 class="uk-heading-large" style="font-weight:lighter;display:inline;">Thank you.</h1>
    </div>
    <div class="uk-card uk-card-transparent uk-card-body uk-text-center">
      <h3 class="uk-text-large" style="font-weight:lighter;display:inline;color:#fff;">Age check will be conducted before entering the venue. Please bring a valid proof of age.
      </h3>
    </div>
    <div class="uk-card uk-card-transparent uk-card-body uk-margin-top uk-text-center" style="color:#fff;">Our team will contact you soon regarding the payment. We will update you for the entry pass.</div>
    <div class="uk-card uk-card-transparent uk-card-body">
      <div class="uk-container uk-flex-center" uk-grid>
        <div class="uk-flex uk-flex-column uk-width-1-1 uk-width-large@m">
          <div class="uk-card uk-card-secondary uk-card-body">
            <div class="uk-card">
              <h3 class="uk-card-title">Summary</h3>
              <div uk-grid>
                <div class="uk-width-1-2 uk-width-3-4@m">Societal Project Ticket &times; <span id="ticketBoughtTotal">1</span></div>
                <div class="uk-width-1-2 uk-width-1-4@m" style="text-align:right">A$50</div>
              </div>
            </div>
            <div class="uk-card uk-margin-large-top">
              <hr>
              <div uk-grid>
                <div class="uk-width-1-2 uk-width-3-4@m">
                  <span class="uk-card-title">Total</span>
                </div>
                <div class="uk-width-1-2 uk-width-1-4@m" style="text-align:right">A$<span id="ticketPriceTotal">50</span></div>
              </div>
            </div>
            <p>Payment by transfer to:</p>
            <h3 class="uk-card-title">PPIA RMIT</h3>
            <p><b>BSB:</b> 063-262</p>
            <p><b>Account Number:</b> 1065 0749</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>(function(){let a=0,b=1;a=localStorage.getItem("lastTicketTotal")?localStorage.getItem("lastTicketTotal"):50,b=localStorage.getItem("lastTicketBought")?localStorage.getItem("lastTicketBought"):1,document.getElementById("ticketPriceTotal").innerText=a,document.getElementById("ticketBoughtTotal").innerText=b})();</script>