title = "Charity Event"
url = "/charity-event"
layout = "default"
is_hidden = 0
==
<div class="uk-container uk-margin-large-bottom uk-margin-large-top">
   <div class="uk-position-center uk-position-small uk-text-center" style="z-index:100;">
        <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0" class="uk-text-large" style="font-weight: 300; color:#000;text-shadow: #fff 0px 0px 2px;">Coming Soon</h2>
        <h3 uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0" style="color:black;font-weight:lighter;text-shadow: #fff 0px 0px 2px;">Check back later</h3>
    </div>
</div>
<!-- <div class="uk-text-center">
    <h1 class="uk-text-emphasis">Indonation Charity Event</h1>
    <h2>RMIT University, Storey Hall</h2>
    <h3>October 12, 2019 at 15:30 PM</h3>
</div>

<div class="uk-text-center uk-margin-large-top uk-margin-medium-bottom">
    <h3>Featuring this Year's Guest Star...</h3>
</div>

<div class="uk-child-width-expand@s uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="{{ 'assets/images/charity-event/adhitiaSofyan.jpg'|theme }}" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-text-emphasis">Adhitia Sofyan</h3>
                <p>His music journey started when he submitted two his songs, “Adelaide Sky” and “Memilihmu”, to a local radio station and aired on Prambors radio’s indie chart “Nubuzz” in 2008.</p>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="{{ 'assets/images/charity-event/endahNrhesa.jpg'|theme }}" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-text-emphasis">Endah N Rhesa</h3>
                <p>A husband and wife acoustic duo from Indonesia that formulates music through their magical instruments, bass, acoustic guitar, and vocal.</p>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="{{ 'assets/images/charity-event/theOvertunes.jpg'|theme }}" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-text-emphasis">THE OVERTUNES</h3>
                <p>3 brothers started from song covers of John Mayer, Justin Nozuka, and Poema. Now these 3 prodigies are rocking the music scene with their songwriting and musical ability and undeniable charm.</p>
            </div>
        </div>
    </div>
</div>

<div class="uk-height-large uk-inline uk-width-expand">
    <div class="uk-position-center">
        <h3>Buy ticket now!</h3>
        <a class="uk-button uk-button-primary uk-button-large" href="">Buy Tickets</a>
    </div>
</div>

<div>
    <div class="uk-card uk-card-default uk-height-large uk-width-expand">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.1823844871387!2d144.9618473155291!3d-37.80919677975319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642cb75b5f98f%3A0x124e158feb170c0a!2sRMIT%20University%20Storey%20Hall!5e0!3m2!1sen!2sau!4v1568720740352!5m2!1sen!2sau" frameborder="0" style="border:0; width:100%;height:100%;" allowfullscreen=""></iframe>
    </div>
</div> -->