title = "Pricing & Tickets"
url = "/pricing-tickets"
layout = "default"
is_hidden = 0
==
<div class="uk-container uk-margin-large-bottom uk-margin-large-top">
   <div class="uk-position-center uk-position-small uk-text-center" style="z-index:100;">
        <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0" class="uk-text-large" style="font-weight: 300; color:#000;text-shadow: #fff 0px 0px 2px;">Coming Soon</h2>
        <h3 uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0" style="color:black;font-weight:lighter;text-shadow: #fff 0px 0px 2px;">Check back later</h3>
    </div>
</div>

<!-- <h1 class="uk-text-emphasis">Ticket & Prices</h1>
<div class="uk-margin-large-top uk-grid-match uk-child-width-expand@s" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-inline uk-height-medium">
            <div class="uk-card-body uk-position-center" style="width:100%">
                    <table class="uk-table uk-table-divider">
                      <tr>
                        <th>Ticket Type</th>
                        <th>Price</th>
                      </tr>
                      <tr>
                        <td>VIP (meet &amp; greet)</td>
                        <td>A$45</td>
                      </tr>
                      <tr>
                        <td>VIP</td>
                        <td>A$35</td>
                      </tr>
                      <tr>
                        <td>General Admission</td>
                        <td>A$32</td>
                      </tr>
                    </table>
            </div>
        </div>
    </div>
    <div class="uk-height-medium">
        <div class="uk-card uk-text-center uk-inline">
            <div class="uk-position-center">
                <a class="uk-button uk-button-primary" href="https://docs.google.com/forms/d/1Tv7B2CJ50pa-MPRHuHFNBgjvn-2XKS8N6PDQjLHclmA" target="_blank">Purchase Ticket</a><br>
                <p>Opens in a new window</p>
            </div>
        </div>
    </div>
</div> -->